.cards__item {
  width: 240px;
  margin: 60px 100px 0 0;
}

.cards__item:nth-of-type(3) {
  margin-right: 0;
}

/*
  Я не понимаю какие размеры должны быть у элемента cards__item основываясь на брифе работы.
  Указанно только 160*160px, так понимаю это для элемента cards__image + левый и правый отступ по 40px каждый.
  160+40+40 у меня ширина элемента cards__item получилась 240px.
  Так же в брифе указан правый отступ на 100px для cards__item и в сумме получается ширина карточки 340 px.
  Ширина родительского блока cards из брифа 920px.
  3 карточки с отступами получатся суммарной шириной в 1020px, что больше ширины родительского блока в 920px и 3 карточки в ряд не помещаются.
  Я нашёл только одно решение уместить 3 карточки в ряд.
  Применить пвесдокласс группы type к 3 карточке и обнулить правый отступ.
  Не знаю правильное ли это решение. Но первом ряду теперь помещается 3 карточки.
  На скрине брифа правый отступ карточки указан для 1,2,4,5 карточки.
*/