@keyframes rotation {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
} 

.kaufman__triangle {
    background-image: url(../../../images/kaufman-triangle.svg);
    background-size: cover;
    height: 877px;
    width: 877px;
    position: absolute;
    top: 0;
    right: -210px;
    z-index: 1;
    transform: rotate(360deg);
    animation: rotation 20s linear infinite;
  }