.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;

}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  position: relative;
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
}

.logo {
height: 32px;
width: 228px;
}

.logo__place_header {
  background-image: url(../images/logo_place_header.svg);
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 64px;
  margin-top: 30px;
  z-index: 5;
}

.header__title {
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  margin-left: 64px;
  z-index: 4;
}

.header__subtitle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin-left: 64px;
  margin-bottom: 30px;
  z-index: 3;
}

.header__main-illustration {
  background-image: url(..//images/header-image.png);
  background-size: cover;
  height: 608px;
  width: 765px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
}

.header__square-pic {
  position: absolute;
  background-color: #2f80ed;
  height: 568px;
  width: 568px;
  top: 64px;
  right: 0;
  z-index: 1;
}

.header__link {
  text-decoration: none;
  color:#2f80ed;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  font-size: 24px;
}

.description {
  margin-top: 100px;
}

.two-columns__brief {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  width: 175px;
  color:#2f80ed;
  margin-top: 0;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-top: 30px;
}

.two-columns__paragraph:first-of-type{margin-top:0;}

.two-columnss {
  display: flex;
  flex-direction: column;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__span-accent {
  font-weight: 600;
}

.digits {
  margin: 100px 0 100px;
}

.section-title {
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  margin: 0;
}

.section-subtitle {
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 20px 0 0;
}

.table {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  max-width: 1100px;
  
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 20px 0 0;
}

.feynman {
  background-color: #f2f2f2;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  height: 890px;
  position: relative;
}

.feynman__title {
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  width: 648px;
  text-align: center;
  margin: 0 auto;
  padding-top: 100px;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  margin: 70px auto;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color:#2f80ed;
  position: absolute;
  top: 50%;
  right: 48px;
}

.kaufman {
  padding: 90px 0 90px;
  background-color: #1f1f1f;
  overflow: hidden;
  position: relative;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  z-index: 2;
} 

.table_theme_dark {
  z-index: 1;
}

.section-title_theme_dark {
  color: white;
}

.section-subtitle_theme_dark {
  color: white;
}

.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  height: 877px;
  width: 877px;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: -210px;
  z-index: 0;
}

.footer {
  padding: 60px 0 40px;
  background-color: #1f1f1f;
  color:white;
}

.logo_footer {
  background-image: url(../images/logo_place_footer.svg);
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 18px 0;
  position: absolute;
  left: 0;
  bottom: 0;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  min-height: 350px;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  position: relative;
}

.footer__columns_info {
  display: flex;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 20px;
}

.footer__column-links {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  margin: 0 0 16px;
  list-style-type: none;
}

.footer__link {
  text-decoration: none;
  color:white;
}

.footer__social-icon {
  padding-right: 10px;
}

ul {
  padding-left: 0;
}