.khan__buy-link {
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    margin-left: 48px;
    text-decoration: none;
    color: #2f80ed;
    opacity: 1;
    transition: opacity .2s ease-out;
  }
  
  .khan__buy-link:hover {
    opacity: .5;
    cursor: pointer;
  }